/* Reset default margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Style for the card container */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Style for each individual card */
  .card {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card1{
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  /* Style for the heading inside the card */
  .card h2 {
    color: #333;
  }
  
  /* Style for the paragraph inside the card */
  .card p {
    color: #666;
  }
  